.button {
    border: 3px solid;
    border-color: #8B6F47 #3D2817 #3D2817 #8B6F47;
    border-radius: 0.4rem;
    box-shadow: inset -1px -1px 0 0 #6B5939, inset 1px 1px 0 0 #2A1810;
    color: white;
    padding: 1rem 2rem;
    font-size: 2.4rem;
    cursor: pointer;
    background-color: #0c1719;
    filter: drop-shadow(0 0 10px #0c1719);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #1a2729;
}

.button:active {
    box-shadow: inset 1px 1px 0 0 #6B5939, inset -1px -1px 0 0 #2A1810;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
