.slider__body {
    border: 3px solid;
    border-color: #8B6F47 #3D2817 #3D2817 #8B6F47;
    border-radius: 0.4rem;
    box-shadow: inset -1px -1px 0 0 #6B5939, inset 1px 1px 0 0 #2A1810;
    width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: space-evenly;
    background-color: #0c1719;
    filter: drop-shadow(0 0 10px #0c1719);
}

.slider__body svg {
    fill: #c1c1c1;
    transition: all 0.2s ease-in-out;
}

.slider__body svg:hover {
    fill: #ffffff;
    cursor: pointer;
}

.slider__down {
    transform: rotate(180deg);
}

.slider__down:hover {
    transform: rotate(180deg) scale(1.1);
}

.slider__up:hover {
    transform: scale(1.1);
}

