.configButton {
    margin-left: 2rem;
}

.buttonRow {
    margin: 2rem 0;
}

.done {
    width: 40rem;
    background-color: #0c1719;
    border: 3px solid;
    border-color: #8B6F47 #3D2817 #3D2817 #8B6F47;
    border-radius: 0.8rem;
    box-shadow: inset -2px -2px 0 0 #8B6F47, inset 1px 1px 0 0 #3D2817;
    filter: drop-shadow(0 0 10px #0c1719);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 2;
    padding: 2rem;
    font-variant: none;
    font-size: 2.0rem;
}

.header {
    padding-top: 1rem;
    margin: 0;
}

