.body {
    flex-grow: 1;
    flex-basis: 0;
    margin: 4rem 1rem 0 1rem;
    filter: drop-shadow(0 0 10px #0c1719);
    position: relative;
    border: 3px solid;
    border-color: #8B6F47 #3D2817 #3D2817 #8B6F47;
    border-radius: 0.8rem;
}

.innerBorder {
    width: 100%;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    border: 3px solid;
    border-radius: 0.8rem;
    border-color: #3D2817 #8B6F47  #8B6F47  #3D2817;
}

.name {
    font-size: 2.0rem;
    padding: 1rem 0;
    background-color: #002220;
    color: #ECEBE4;
    border-radius: 0.6rem 0.6rem 0 0;
    text-transform: uppercase;
}

@media (min-width: 1500px) {
    .name {
        font-size: 2.4rem;
    }
}

.body input {
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    background-color: #ffffff;
    width: 40%;
    color: black;
    border: none;
    border-radius: 4px;
    margin-top: -0.1rem;
    margin-bottom: -0.1rem;
    text-transform: uppercase;
}

.name > input:focus {
    background-color: #7c6f6e;
}

.balance {
    border-radius: 0  0 0.6rem 0.6rem;
    background-color: #C4A381;
    color: black;
    font-size: 2.4rem;
    padding: 0.5rem 0;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    letter-spacing: -0.03em;
}

@media (min-height: 730px) {
    .balance {
        padding: 2rem 0;
        font-size: 3.6rem;
    }
}

@media (min-height: 850px) {
    .balance {
        padding: 2rem 0;
    }
}

@media (min-height: 930px) {
    .balance {
        padding: 3rem 0;
        font-size: 4.8rem;
    }
}

.balanceSelected {
    background-color: #e9e9e9;
}

.payoutDimmed {
    filter: grayscale(100%) opacity(0.5);
}

.payoutSelected {
    filter: none !important;
}

.payoutSelected .balance {
    background-color: #C4A381 !important;
}

.payoutDimmed:hover {
    cursor: pointer;
    filter: grayscale(100%) opacity(0.7);
}

.payoutDimmed:hover .name {
    filter: grayscale(0%) brightness(1) !important;
    opacity: 1 !important;
}

.deleteIcon {
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.deleteIcon:hover {
    opacity: 1;
}

input.editingFontSize {
    font-size: 1.6rem;
    width: 80%;
    max-width: 30rem;
}

@media (min-height: 730px) {
    input.editingFontSize {
        font-size: 3.0rem;
    }
}

@media (min-height: 930px) {
    input.editingFontSize {
        font-size: 3.0rem;
    }
}

