.payoutButton {
    margin-left: 2rem;
}

.payoutMode {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
}

.doneButton {
    background-color: #104547;
}

.makePayoutButton {
    padding: 1.5rem 4rem;
    font-size: 3rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.confirmButtons {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    gap: 2rem;
}

.confirmButton {
    padding: 1.5rem 4rem;
    font-size: 3rem;
}

.instruction {
    position: fixed;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 6rem;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.2);
}
