@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Old Standard TT", "Helvetica Neue", serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1.6rem;
}

button, input {
    font-family: "Old Standard TT", "Helvetica Neue", serif
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ReactModal__Content {
    background-color: #d3bba2;
    max-height: 80%;
}

.ReactModal__Content > h2 {
    background-color: #5B4B49;
    color: white;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    padding: 2rem;
}

.ReactModal__Content > h3 {
    font-weight: 700;
    margin-top: 4rem;
}

.ReactModal__Content > p {
    max-width: 80rem;
}
